<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col col-lg-5 col-md-5 col-sm-5">
            <div class="card">
                <div class="card-header text-center">
                    SignIn Page
                </div>
                <div class="card-body">
                    <div class="user-avatar">
                        <%= image_tag("avatar.jpeg", size: '100x100', alt:'avatar', class: 'rounded mx-auto d-block') %>
                    </div>
                    <%= form_with model: @listing_report, url: new_wizards_listings_report_path do |form| %>

                        <!-- <div class="form-group mb-2">

                        </div> -->
                        <%= content_tag :div, nil, { class: 'form-group mb-2'} do %>
                            <% form.select_field :type, options_for_select
                        <% end %>

                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>



