<%= turbo_frame_tag "form_wizard", data: {turbo_action: 'advance'} do %>
	<div class="row">
		<div class="col align-self-center">
			<div class="container w-50">
				<%= render "listings/posts/post_card", listing: @listing %>
			</div>
		</div>
	</div>
<% end %>
<%= console %>
