<% content_for :content do %>
  <%= turbo_frame_tag "pets_main" do %>
    <div class="page-header page-header-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="bradcam_text text-center">
              <h3>Pet home page</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <h1 class="text-center"Pets home page</h1>
        <%= render 'flash' %>
        <%= yield %>
      </div>
    <% end %>
  <% end %>
  <%= render template: "layouts/application" %>
