<div class="container">
    <h1>Home Page</h1>
    <%= render 'flash' %>
        <%# controller.controller_name %>
        <%# controller.view_paths %>
        <%# lookup_context.find_template("#{controller_path}/#{action_name}").identifier %>
        <%# console %>
</div>
