<div class="col-md-4 col-lg-4 h-75 align-self-between">
	<div class="row mt-4">
		<div class="col-3 text-end">
			<i class="fa-solid fa-dog fs-3 text-orange" ></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h5>Listing Report</h5>
					<p>Report a new lost or found/stray pet. Please do not add the same pet more than once</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3 text-end">
			<i class="fa-solid fa-hands-holding-child fs-3 text-orange"></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h5>Pet Care</h5>
					<p>Let us take care of the rest so you can have some peace of mind that you are doing all that you can to bring your pet home safely</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3 text-end">
			<i class="fa-solid fa-users fs-3 text-orange"></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h5>Buttonwood, California.</h5>
					<p>Reach out to us with any questions you may still have. We're here to help and do what we can to reunite you with your lost dog or cat</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3 text-end">
			<i class="fa-solid fa-users fs-3 text-orange"></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h5>Submit a Report</h5>
					<p>Fill out our grant-report form to show how your grant has helped the pets in your care.</p>
				</div>
			</div>
		</div>
	</div>
</div>
