<div class="col-md-4 col-lg-4 py-5 d-flex flex-column justify-content-between">
	<div class="row">
		<div class="col-3 text-end">
			<i class="fa-solid fa-dog font-color"></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h3>Listing Report</h3>
					<p>Report a new lost or found/stray pet. Please do not add the same pet more than once</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3 text-end">
			<i class="fa-solid fa-hands-holding-child font-color"></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h3>Pet Care</h3>
					<p>Let us take care of the rest so you can have some peace of mind that you are doing all that you can to bring your pet home safely</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3 text-end">
			<i class="fa-solid fa-users font-color"></i>
		</div>
		<div class="col-9 text-start">
			<div class="media contact-info">
				<div class="media-body">
					<h3>Buttonwood, California.</h3>
					<p>Reach out to us with any questions you may still have. We're here to help and do what we can to reunite you with your lost dog or cat</p>
				</div>
			</div>
		</div>
	</div>
</div>
