<% content_for(:title, "Contact Us") %>
<div class="row">
	<div class="container">
		<%= render 'map' %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-8 col-lg-8 bg-danger">
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae blanditiis molestiae sequi libero numquam recusandae asperiores error minus, vel repellendus nemo ipsa! Consequatur, sint. Consequatur, dolorum soluta. Quidem, odio voluptatum!</p>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4 bg-info">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tempore nobis recusandae non odio sapiente corrupti eum. Voluptatum harum, cupiditate nesciunt sequi minus non, culpa alias consequatur, obcaecati nam ea.</p>
	</div>
</div>
