<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contact Us
                        </h3>
                        <ul class="address_line">
                            <li>+555 0000 565</li>
                            <li><a href="#">Demomail@gmail.Com</a></li>
                            <li>Florida, US</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Our Servces
                        </h3>
                        <ul class="links">
                            <li><a href="#">Pet Insurance</a></li>
                            <li><a href="#">Pet surgeries </a></li>
                            <li><a href="#">Pet Adoption</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Quick Link
                        </h3>
                        <ul class="links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <%= image_tag "icons/logo.png", { alt: 'icon'} %>
                            </a>
                        </div>
                        <p class="address_text">239 E 5th St, New York
                            NY 10003, USA
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</footer>
